<section class="container">

  <div class="column is-centered">
    <div class="box column is-two-third">
      <h1>{{ title }}</h1>
      <p class="has-tex-centered random-sentence"> <span [class]="compareLetter(letter, userEnteredText[i])" *ngFor="let letter of randomText; let i = index;" >{{ letter }}</span> </p>

      <div class="field">
        <input class="input" (input)="onInput($event)" />
      </div>

      <div *ngIf="userEnteredText === randomText.join('')" class="box has-text-centered success-btn">
        <h2 class="title">Success!</h2>
      </div>
    </div>

  </div>
</section>

